<h2>My Heroes</h2>

<button (click)="onClickMe()">Click me!</button>{{ clickMessage}}

<h1 [hidden]="!isVisible"> {{clickMessage}}</h1>

<button (click)="changeVisibility()">show/hide</button>


<div>
  <label>Hero name:
    <input #heroName />
    <!-- <input #heroName (ngSubmit)="add()">  -->

  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add (heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
  </li>
</ul>




<!-- <h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedHero">

  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>

</div> -->



<input #phone placeholder="phone number">

<!-- lots of other elements -->

<!-- phone refers to the input element; pass its `value` to an event handler -->
<button (click)="callPhone(phone.value);phone.value=''">Call</button>